#main-sec {
  height: 500px;
  background-image: url("/images/places/airplane.jpg");
  /* 배경이미지 출처 <a href="https://kr.freepik.com/free-photo/airplane_3503713.htm#query=%EC%97%AC%ED%96%89&position=2&from_view=keyword&track=sph&uuid=2c7157c9-cd65-48fd-90a0-b660472773cb">작가 lifeforstock</a> 출처 Freepik */
  background-position: center;
  background-size: cover;
}
#main-sec-content {
  width: 900px;
  background-color: rgba(185, 185, 185, 0.4);
  box-shadow: 2px 4px 8px rgba(53, 53, 53, 0.6);
  text-align: center;
  padding: 50px 0px;
  margin: 0px auto;
  position: relative;
  top: 120px;
}
#main {
  font-size: 50px;
  font-family: "Raleway", sans-serif;
  margin: 0px;
  color: white;
  text-transform: uppercase;
}
#intro {
  color: white;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 24px;
}
#main-sec-content a {
  text-decoration: none;
  background-color: rgba(234, 247, 123, 0.85);
  padding: 12px 20px;
  color: black;
  font-size: 18px;
  font-weight: bold;
  border-radius: 8px;
  box-shadow: 2px 4px 8px rgba(185, 185, 185, 0.4);
}
#main-sec-content a:hover {
  background-color: rgb(223, 245, 31);
}
.main-title {
  font-size: 50px;
  font-weight: 800;
}
#highlights {
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
  color: rgba(53, 53, 53, 0.75);
  margin: -2px 0 24px 0;
  padding: 24px;
}
.back-ya {
  background-color: rgba(164, 242, 248, 0.5);
  background: linear-gradient(0deg, rgba(164, 242, 248, 0.5), rgba(168, 222, 247, 0.5));
}
#destinations {
  display: flex;
  width: 90%;
  margin: auto;
  margin-bottom: 40px;
  justify-content: center;
  text-transform: uppercase;
}
.destination {
  margin: 0 40px;
}
.destination p {
  text-align: center;
  font-size: 24px;
  text-shadow: 2px 1px 1px rgba(185, 185, 185, 1);
  font-weight: bolder;
}
.destination img{
  height: 200px;
  width: 100%;
  box-shadow: 2px 4px 8px rgb(37, 31, 31);
  border-radius: 10px;
  object-fit: cover;
}
p strong {
  color: rgba(16, 121, 51, 0.8);
}